body {
  background: rgb(43, 9, 136);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;  
}



.gretting {
  color: white;
  font-family: "Dancing Script", cursive;
  margin: 0;
  font-size: 50px;
  text-shadow: 0 0 5px red, 0 0 15px red, 0 0 30px red, 0 0 50px red;
  text-align: center;
}


.num {
  font-size: 1rem;
  text-shadow: 0 0 5px white, 0 0 15px white, 0 0 30px white;
  animation: toblink 2s infinite backwards steps(2);
}

@keyframes toblink {
  to {
    color: rgb(22, 207, 231);
    text-shadow: none;
  }
}


